
<!-- app.component.html -->
<div class="welcome-container">
    <h1>Bine ai venit la Gradina Zoologica!</h1>
  
    <div>
      <label for="diet">Select Diet:</label>
      <select id="diet" [(ngModel)]="selectedDiet">
        <option *ngFor="let diet of diets" [value]="diet">{{ diet }}</option>
      </select>
    </div>
  
    <div>
      <label for="habitat">Select Habitat:</label>
      <select id="habitat" [(ngModel)]="selectedHabitat">
        <option *ngFor="let habitat of habitats" [value]="habitat">{{ habitat }}</option>
      </select>
    </div>

    <div *ngIf="displayError" class="error-message">
        {{ errorMessage }}
    </div>
  
    <button (click)="getAnimals()">See animals</button>
  
    <div *ngIf="getAnimalsClicked" class="animal-table">
        <div *ngIf="!noAnimals">
            <table>
                <thead>
                  <tr>
                    <th>Animal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let animal of animals">
                    <td>{{ animal }}</td>
                  </tr>
                </tbody>
              </table>
        </div>

        <div *ngIf="noAnimals" class="error-message">
            {{ displayMessage }}
          </div>
      
    </div>
  </div>
  
        
  

<router-outlet></router-outlet>
