
<!-- app.component.html -->
<div class="welcome-container">
    <h1>Bine ai venit la Gradina Zoologica!</h1>
  
    <div>
      <label for="diet">Selecteaza dieta:</label>
      <select id="diet" [(ngModel)]="selectedDiet">
        <option value="" disabled selected>dieta</option>
        <option *ngFor="let diet of diets" [value]="diet">{{ diet }}</option>
      </select>
    </div>
  
    <div>
      <label for="habitat">Selecteaza habitatul:</label>
      <select id="habitat" [(ngModel)]="selectedHabitat">
        <option value="" disabled selected>habitat</option>
        <option *ngFor="let habitat of habitats" [value]="habitat">{{ habitat }}</option>
      </select>
    </div>

    <div *ngIf="displayError" class="error-message">
        {{ errorMessage }}
    </div>
  
    <button (click)="getAnimals()">Vezi animalele selectate</button>
  
    <div *ngIf="getAnimalsClicked" class="animal-cards">
        <div *ngIf="!noAnimals">
            <div *ngFor="let animal of finalAnimals" class="animal-card">
                <mat-card>
                  <img mat-card-image [src]="animal.imageUrl" alt="{{ animal.nume }} Image" [style.width.px]="imageWidth" [style.height.px]="imageHeight">
                  <mat-card-content>
                    <p>{{ animal.nume }}</p>
                  </mat-card-content>
                </mat-card>
              </div>
        </div>

        <div *ngIf="noAnimals" class="error-message">
            {{ displayMessage }}
          </div>
      
    </div>

    <div class="compatibility-container">
      <p> Aici poti verifica daca doua animale se ataca intre ele</p>

      <label for="animal1">Selecteaza Animal 1:</label>
      <select id="animal1" [(ngModel)]="selectedAnimal1">
        <option value="" disabled selected>animal 1</option>
        <option *ngFor="let animal of allAnimals" [value]="animal">{{ animal }}</option>
      </select>

      <label for="animal2">Selecteaza Animal 2:</label>
      <select id="animal2" [(ngModel)]="selectedAnimal2">
        <option value="" disabled selected>animal 2</option>
        <option *ngFor="let animal of allAnimals" [value]="animal">{{ animal }}</option>
      </select>

      <button (click)="checkCompatibility()">Verifica</button>

      <div *ngIf="compatibilityResult !== undefined"class="message">
        <div [style.color]="compatibilityResultColor">
          {{ compatibilityResult }}
        </div>
        
      </div>

    </div>
  

<router-outlet></router-outlet>
