
<!-- app.component.html -->
<div class="welcome-container">
    <h1>Bine ai venit la Gradina Zoologica!</h1>
  
    <div>
      <label for="diet">Selecteaza dieta:</label>
      <select id="diet" [(ngModel)]="selectedDiet">
        <option value="" disabled selected>dieta</option>
        <option *ngFor="let diet of diets" [value]="diet">{{ diet }}</option>
      </select>
    </div>
  
    <div>
      <label for="habitat">Selecteaza habitatul:</label>
      <select id="habitat" [(ngModel)]="selectedHabitat">
        <option value="" disabled selected>habitat</option>
        <option *ngFor="let habitat of habitats" [value]="habitat">{{ habitat }}</option>
      </select>
    </div>

    <div *ngIf="displayError" class="error-message">
        {{ errorMessage }}
    </div>
  
    <button (click)="getAnimals()">Vezi animalele</button>
  
    <div *ngIf="getAnimalsClicked" class="animal-cards">
        <div *ngIf="!noAnimals">
            <div *ngFor="let animal of finalAnimals" class="animal-card">
                <mat-card>
                  <img mat-card-image [src]="animal.imageUrl" alt="{{ animal.nume }} Image" [style.width.px]="imageWidth" [style.height.px]="imageHeight">
                  <mat-card-content>
                    <p>{{ animal.nume }}</p>
                  </mat-card-content>
                </mat-card>
              </div>
        </div>

        <div *ngIf="noAnimals" class="error-message">
            {{ displayMessage }}
          </div>
      
    </div>
  </div>
  
        
  

<router-outlet></router-outlet>
